body{
    /*background-image: url(https://placehold.co/1024x768);*/
    overflow-y: auto;
    overflow-x: hidden;
    
    
  }
  
h1#wtitle{
  position:relative; 
  top:-1.8301610541727673vw; 
  left:0px; 
  margin-left:0px; 
  margin-right:0px;
  color: #FCF5E5;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  background-color: #333;
  height: 6.51vh;
  
  
  
}
ul#navbar{
  list-style-type: none;
  position: relative;
  top: -15.625vh;
  padding: 15px;
  margin: 0px;
  
  
}
li {
  float: left;
  
}


a{
 font-family: "Comic Sans MS", cursive;
 
  
}

a.navbarlink{
  position: relative;
  top: 1.042vh;
  color: #FCF5E5;
  display: block;
  color: white;
  text-align: center;
  padding: 11px 37px;
  text-decoration: none;
  
}
a.navbarlink:hover{
  background-color: #111;
  
}

/***end of nav bar section***/

p.hometext{
    font-family: "Comic Sans MS", cursive;
    position: relative;
    top:26.042vh; 
    left:0px; 
    margin-left:0px; 
    margin-right:0px;
    
    
  }

img#randonculus{
  position: relative;
  top: 58.594vh; 
  left:-42.09370424597365vw; 
  margin-left:0px; 
  margin-right:0px;
 
}

a.buynowbutton{
    background-color: rgb(114, 230, 114)
}

a.buynowbutton:hover{
    background-color: rgb(74, 172, 74)
}

a#randonculusbuynow{
    text-decoration: none;
    color:black;
    position: relative;
    top:52.083vh; 
    left:5.490483162518301vw;
    font-size: 1.757vw;
    font-family: "Courier New", monospace;
    letter-spacing: 0.21961932650073207vw;
    font-weight: bold;
    
    
}

img#bgmain{
  width: 87.848vw;
  height: 52.083vh;
  position: relative;
  top: -53.385vh;
  
  
}

h2#slogan{
  color: wheat;
  position: relative;
  top:-91.146vh;
  text-align: center;
  font-size: 4.1vw;
  
}

.checked{
  color: orange;
}

div#starsforreview{
  display: inline-block;
  position: relative;
  top: -70.313vh;
  background: rgba(248, 212, 49, 0.164);
  border-top: 3px solid rgba(231, 181, 45, 0.212);
  width: 87.848vw;
  

  
  
}

p#reviewtext{
  position: relative;
  top: -78.776vh;
  left: 24.52415812591508vw;
  font-size: 1.4641288433382138;
  font-family: "Andale Mono", monospace;
  
  
}

footer {
  display: block;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 87.848vw;
  height: 13.021vh;
  text-align: center;
  background-color: rgb(39, 39, 39);
}

p.footertext{
  color: bisque;
  font-size: 1.757vw;
}