body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/625/844/original/geometric-abstract-light-blue-background-for-website-wallpapers-bussines-templates-vector.jpg);
    overflow-y: auto;
    overflow-x: hidden;
    
    
  }
  
h1#wtitle{
  position:relative; 
  top:-25px; 
  left:0px; 
  margin-left:0px; 
  margin-right:0px;
  color: #FCF5E5;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  background-color: #333;
  height: 60px;
  
  
  
}
ul#navbar{
  list-style-type: none;
  position: relative;
  top: -120px;
  padding: 15px;
  margin: 0px;
  
  
}
li {
  float: left;
  
}


a{
 font-family: "Comic Sans MS", cursive;
 
  
}

a.navbarlink{
  position: relative;
  top: 8px;
  color: #FCF5E5;
  display: block;
  color: white;
  text-align: center;
  padding: 11px 37px;
  text-decoration: none;
  
}
a.navbarlink:hover{
  background-color: #111;
  
}

/***end of nav bar section***/

p.hometext{
    font-family: "Comic Sans MS", cursive;
    position: relative;
    top:200px; 
    left:0px; 
    margin-left:0px; 
    margin-right:0px;
    font-size: 1.15em;
    
    
  }

img#randonculus{
  position: relative;
  top: 450px; 
  left:-575px; 
  margin-left:0px; 
  margin-right:0px;
 
}

a.buynowbutton{
    background-color: rgb(114, 230, 114)
}

a.buynowbutton:hover{
    background-color: rgb(74, 172, 74)
}

a#randonculusbuynow{
    text-decoration: none;
    color:black;
    position: relative;
    top:400px; 
    left:75px;
    font-size: 1.5em;
    font-family: "Courier New", monospace;
    letter-spacing: 3px;
    font-weight: bold;
    
    
}

img#bgmain{
  width: 115.05em;
  height: 25em;
  position: relative;
  top: -415px;
  
  
}

h2#slogan{
  color: wheat;
  position: relative;
  top:-700px;
  text-align: center;
  font-size: 3.5em;
  
}

.checked{
  color: orange;
}

div#starsforreview{
  display: inline-block;
  position: relative;
  top: -540px;
  background: rgba(248, 212, 49, 0.164);
  border-top: 3px solid rgba(231, 181, 45, 0.212);
  width: 115.05em;
  

  
  
}

p#reviewtext{
  position: relative;
  top: -605px;
  left: 335px;
  font-size: 25px;
  font-family: "Andale Mono", monospace;
  
  
}

footer {
  display: block;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 115.05em;
  height: 100px;
  text-align: center;
  background-color: rgb(39, 39, 39);
}

p.footertext{
  color: bisque;
  font-size: 1.5em;
}

form#customerform{
  position:relative;
  display: block;
  left: 700px;
  top: -550px;
  
  
}